 <!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lista de Tarefas do Zucco</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'> </head>
 <body>
    <!-- Formulário para adicionar nova tarefa -->
    <form th:action="@{/add}" th:object="${novaTarefa}" method="post">
        <label for="task">Nova Tarefa:</label>
        <input type="text" id="task" th:field="*{tarefa}" required>
        <button type="submit">Adicionar</button>
    </form>

    <!-- Lista de tarefas -->
    <ul>
        <li th:each="tarefa : ${tarefas}">
            <span th:text="${tarefa.tarefa}"></span>
            <form th:action="@{'/complete/' + ${tarefa.id}}" method="get" style="display: inline;">
                <button type="submit" th:if="${not tarefa.completado}">Marcar como Concluído</button>
            </form>
            <form th:action="@{'/delete/' + ${tarefa.id}}" method="get" style="display: inline;">
                <button type="submit">Excluir</button>
            </form>
        </li>
    </ul>
 </body>
 </html>