<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <script type="module" src='app.js'></script>
</head>
<body>

<!-- Formulário para adicionar nova tarefa -->
<form id="taskForm">
    <label for="tarefa">Nova Tarefa:</label>
    <input type="text" id="tarefa" required>
    <button type="submit">Adicionar</button>
</form>
<!-- Lista de tarefas -->
<ul id="listaTarefas"></ul>
<!-- Script para incluir a lógica de atualização de lista -->

</body>
</html>
